@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Vazirmatn", sans-serif;
    direction: rtl;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}